
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description"
        content="Sample page">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://js.stripe.com/v3/"></script>

    <!-- Bootstrap for carousel -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <title>Sample Store Page | Blog/Articles/Guides Page</title>

    <link type="text/css" charset="UTF-8" rel="stylesheet" href="/static/main.css">
    <link type="text/css" charset="UTF-8" rel="stylesheet" href="/static/carousel.css">
    <script src="/static/style.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="mainmenu"><button class="mmenu" onclick="window.location.href='/';">Home</button></li>
                <li class="mainmenu"><button class="mmenu" onclick="window.location.href='/tools';">Tools</button></li>
                <li class="mainmenu"><button class="mmenu" onclick="window.location.href='/store';">Store</button></li>
                <br><br>Don't like the colors? Reload the page!
            </ul>
        </nav>
        <a href="/"><img class="altlogo" src="/static/images/awesomeg.png" alt="Awesome Logo"></a>
        <div class="guidelink">
            <a class="guides" href="/guides">
            <img src="/static/images/guide.png" alt="Book Logo">Stuff & Things</a>
        </div>
    </header>
    <div>
        <span title="Questions? Give us a call! ">
            <a class="help" href="tel:5095551111" onclick="gtag_report_conversion()">509 555 1111</a>
        </span>
    </div>
    <div class="alien">
        <div class="thought-bubble">
        <h1>Tunes</h1>
        <a href="https://app.suno.ai/song/15b84250-650b-4298-9181-07b4b54b2c5d" target="_blank">Strings of Creation</a><br>
        <a href="https://app.suno.ai/song/2be4ef68-acfc-4f12-8161-c190e96b6419" target="_blank">Lost in the Echo</a><br>
        <a href="https://www.youtube.com/watch?v=miomuSGoPzI&t=9s&ab_channel=schmoyoho" target="_blank">Chicken Attack</a><br>
        <a href="https://www.youtube.com/watch?v=fEgmIiW-oD4&ab_channel=BenjaminBarak" target="_blank">Llama Boy</a><br> <br>
        </div>
    </div>
    <footer>
        &copy; Copyright 2023, Awesome Web Design &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/privacy">Privacy Policy </a>
    </footer>

    <script>
        $(document).ready(function(){
          $("button").css("border-radius", "{{ prct }}%");
        });
    </script>
</body>
</html>